// Externals

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/modals";
@import "basics/animations";

// Views
@import "./views/home";
@import "./views/contact-details";

// Components
@import "./cmps/contact-list";
@import "./cmps/contact-preview";
@import "./cmps/contact-filter";
@import "./cmps/app-header";
@import "./cmps/transferFund";









.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .app-header {
        background: #7bea8b;
    }

    main {
        flex-grow: 1;
        width: 100%;
    }

    > footer {
        background-color: #111;
        color: white;
    }
}