.transferFund{
    background: #7bea8b;
    padding:  15px;
    
}

.transfer-title{
    margin-bottom: 12px;
    color: white;
}

.transfer-form{
    margin-bottom: 12px;
}

.transfer-balance{
    margin-bottom: 12px;
    color: white;
}